body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}
h1 {
  color: black;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
.nav a  {
  padding: 10px;
  background-color: grey;

}
figcaption {
  font-size: smaller;
  text-align: center;
}
figure ~ p {
  width: 800px;
  margin: 0 auto;
  text-align: center
}
details div {
  float: left;
  background-color: grey;
  text-align: center;
  width: 25%
}
